
// Header Section
.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, $lightgreen, $darkgreen) , url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

    .logo {
        height: 3.5rem;
    }
}

.wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: $white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    backface-visibility: hidden;

    .heading-primary-main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    .heading-primary-sub {
        display: block;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 1.7rem;

        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        opacity: 0.5;
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        opacity: 0.5;
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
}

.btn-white {
    background-color: $white;
    color: $graydark;
}

// End Header

//About Section

.section-about {
    background-color: $graylight-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $lightgreen, $darkgreen);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    
}

.heading-third {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: 1.6rem;
        color: $darkgreen;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $darkgreen;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $mediumgreen;
        color: $white;
        box-shadow: 0 1rem 2rem rgba(black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 1rem 2rem rgba(black, .15);
        transform: translateY(0);
    }
}