//Base page styles

html {
    font-size: 62.5%;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    box-sizing: border-box;
    color: $graydark;
}

.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-marign-bottom-med {
    margin-bottom: 4rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}